<mat-card>

    <mat-card-header>
        <mat-card-title>
            <span>Quizzes Board</span>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <mat-accordion>
            <mat-expansion-panel *ngFor="let q of questions; let i = index;"
                                 [expanded]="step === i"
                                 (opened)="setStep(i)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ q.text }}
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                {{q.correctAnswer}}
                <!--                <label id="example-radio-group-label">Pick your favorite season</label>-->
                <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group"
                        [(ngModel)]="q.selectedAnswer">
                    <mat-radio-button class="example-radio-button" *ngFor="let answer of q.answers" [value]="answer">
                        {{answer}}
                    </mat-radio-button>
                </mat-radio-group>

                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>


        </mat-accordion>


    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="finish()">Finish</button>
    </mat-card-actions>

</mat-card>
